body{
   width:550px;
   height:500px;
}
#title {
	text-align: center;
}
#chart-div{
  text-align: center; 
  width:550;
  height:500;
}

.pie-legend{
  list-style-type: none;
}

#settings{
  text-align: center;
}

#dropdown{
  text-align: center;
  margin-bottom: 10px;
}