body{
   width:550px;
   height:500px;
}
#title {
    margin: 5px;
    text-align: right;
}
#chart-div{
  text-align: center; 
  width:550;
  height:500;
}

#duration {
  text-align: center;
}

.pie-legend{
  list-style-type: none;
}

#settings{
  text-align: center;
}

#dropdown {
    text-align: center;
    margin-bottom: 10px;
}

.margin20 {
    margin: 20px;
}

#remaining{
  display: inline;
}

#editTime{
  display:none;
}

#editButton{
  display:inline;
}

#timeRemain{
  /*display:inline;*/
  text-align:center;
}