body{
   width:550px;
   height:600px;
   color:#3B3B3B !important;
   /*background-color: #e7e7e7 !important;*/
   /*overflow-y: scroll;*/
}

#charts {
  text-align: center;
}

#scroll {
  padding-bottom: 98px;
}

#space {
  padding: 10px;
}